html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

canvas {
  display: block;
  position: fixed;
}

#controls {
  position: absolute;
  right: 0px;
  color: #ffffff;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
}

#controls select,
#controls input {
  background-color: rgb(68, 68, 68);
  border: none;
  outline: none;
  color: rgb(0, 255, 170);
  font-size: 11px;
  line-height: 18;
  font-family: Arial;
  height: 18px;
  user-select: none;
  cursor: pointer;
}
#controls .gui-item {
  border-bottom: 1px solid rgb(51, 51, 51);
  background-color: rgb(26, 26, 26);
  min-height: 24px;
  padding: 3px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
#controls .gui-label {
  width: 96px;
  padding: 3px;
  color: rgb(255, 255, 255);
  cursor: default;
  user-select: none;
}
#controls .gui-controller {
  width: 192px;
  color: rgb(0, 255, 170);
}
#controls input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: transparent; /* Otherwise white in Chrome */
  width: 65%;
  height: 18px;
  margin: 0px; /* needed for firefox */
}
#controls input[type="range"]:focus {
  outline: none;
}
/* CHROME */
#controls input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 11px;
  width: 11px;
  border-radius: 0px;
  background: rgb(68, 68, 68);
  border: 1px solid rgb(0, 255, 170);
  cursor: pointer;
  margin-top: -5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic*/
}
#controls input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: rgb(68, 68, 68);
  border-radius: 0px;
  border: 0px solid #010101;
  margin-top: 11px;
}
#controls input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgb(68, 68, 68);
}
/* FIREFOX */
#controls input[type="range"]::-moz-range-thumb {
  border: 1px solid rgb(0, 255, 170);
  height: 11px;
  width: 11px;
  border-radius: 0px;
  background: rgb(68, 68, 68);
  cursor: pointer;
}
#controls input[type="range"]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: rgb(68, 68, 68);
  border-radius: 0px;
  border: none;
  margin-top: 11px;
}
/* FUCK MICROSOFT BROWSERS */
/* input[type='range']::-ms-track {
width: 65%;
cursor: pointer;
background: transparent;
border-color: transparent;
color: transparent;
} */
#controls input[type="text"] {
  width: 30%;
}

#controls .closed {
  display: none;
}
#controls .gui-color-toggle {
  font-size: 11px;
  line-height: 18px;
  height: 18px;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px,
    black 0px 0px 4px, black 0px 0px 4px;
  cursor: pointer;
  user-select: none;
}
#controls .gui-button {
  text-align: center;
  background-color: rgb(68, 68, 68);
  cursor: pointer;
  user-select: none;
  padding: 3px;
}



#codeviewcontainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
}
#closebar {
  margin: 20px 20px 10px;
  height: 30px;
  position: relative;
}
#closebar #bartitle {
  color: #fff;
}
#closebar #closebutton {
  border: 1px solid #fff;
  display: inline-block;
  color: #fff;
  background-color: #444;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  line-height: 28px;
  padding: 0 10px;
}
#codeview {
  margin: 10px 20px 20px;
  color: #fff;
}
#codeview .pane {
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  padding: 10px;
  border: 1px solid #fff;
  margin: 10px 0;
  background-color: #444;
}
